body {
  color: #5E6E75;
  background: #111;
  font-family: Ubuntu;
  font-size: 15px;
}

h1 {
  font-size: 1.8em;
  font-weight: normal;
}

img {
  max-width: 100%;
}

pre {
  border-radius: 10px;
  margin: 2rem 0;
  overflow-x: auto;
}

pre[data-language]:before {
  background: #0b0b0b;
  border-bottom: 1px dashed #222;
  content: attr(data-language);
  display: block;
  font-weight: 600;
  padding: .2rem 0;
  text-align: center;
}

// tag code inside p
p code {
  background: #181818;
  border: 1px solid #202020;
  border-radius: 10px;
  padding: .3rem .5rem;
  font-size: 12px;
}

.l-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  padding: 1rem;
}
