<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  title Custom Tooltips on Images
  
  //- Styles
  link(rel="stylesheet", href="css/main.css")
  
body

  header.header
    .l-container
      h1 Custom tooltips on images
  
  //- Images container
  #container.l-container.container
    img(src="img/fb.png", alt="Follow me on Facebook")
    img(src="img/tw.png", alt="Follow me on Twitter")
    img(src="img/yt.png", alt="Follow me on Youtube")
  
  //- Javascript
  script(src='js/j.js')
