<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  title Custom Tooltips on Images
  
  //- Styles
  link(rel="stylesheet", href="css/main.css")
  
body

  header.header
    .l-container
      h1 Custom Tooltips on Images
      p Use custom tooltips on images without adding more elements
      
  main.l-container
    section
      p I'm using <code>alt</code> attribute to show info in the tooltip. You can use whatever attribute you want.
      //- Images container
      #container.container
        img(src="img/fb.png", alt="Follow me on Facebook")
        img(src="img/tw.png", alt="Follow me on Twitter")
        img(src="img/yt.png", alt="Follow me on Youtube")
      
    //- Documentation
    section.doc
      h2 How to use
      p Copy this line before <b>&lt;/head&gt;</b>: 
      p <code>&lt;link rel="stylesheet" href="URL"&gt;</code>
      p Copy this line before <b>&lt;/body&gt;</b>: 
      p <code>&lt;script src='URL'&gt;</code>
      p Now, just call the function with two parameters: <code>element, attribute</code>
      pre(data-language='Js')
        code.hljs.javascript.
          tooltip(<span class="hljs-string">'container'</span>,<span class="hljs-string">'alt'</span>);
          </code></pre>
      p <b>Element</b> means the images container (use ID), and <b>Attribute</b>, the content to show in the <b>Tooltip</b>
      h2 Centering images
      #container2.container
        style.
          #container2 .t-c {
            display: block;
            position: relative;
            text-align: center;
          }
          #container2 .t-c img {
            width:50%;
          }
        img(src="img/glasses.png", alt="Glasses")
        img(src="img/camera.png", alt="This is a camera")
      p If you like to center images as I do, edit <code>tooltip.scss</code> and change this:
      pre(data-language='CSS')
        code.hljs.css.
          <span class="hljs-selector-class">.t-c</span> {
            <span class="hljs-attribute">display</span>: inline-block;
            <span class="hljs-attribute">position</span>: relative;
      p by this:
      pre(data-language='CSS')
        code.hljs.css.
          <span class="hljs-selector-class">.t-c</span> {
            <span class="hljs-attribute">display</span>: block;
            <span class="hljs-attribute">position</span>: relative;
            <span class="hljs-attribute">text-align</span>: center;

  //- Javascript
  script(src='js/j.js')
