$t-c: #3697DB; // Tooltip color
$t-tc: #ddd;// Text color
$ta-s: 10px; // Arrow size
$t-t: .3s; // Transition duration
$t-z: 100; // Z-index value

// Tooltip container
.t-c {
  display: inline-block;
  position: relative;


  // Tooltip layer
  .t {

    // Center
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;

    position: absolute;

    // Animation
    opacity: 0;
    transition: $t-t all;
    bottom: -50px; // Distance animation
    visibility: hidden;


    z-index: 0;

    // Tooltip content
    span {

      background: $t-c;
      border-radius: 15px;
      color: $t-tc;
      display: inline-block;
      padding: .5rem;
      position: absolute;
      text-align: center;

      // Tooltip arrow by https://codepen.io/cristina-silva/
      &::before {
        content: "";
        border-bottom: $ta-s solid $t-c;
        border-left: $ta-s solid transparent;
        border-right: $ta-s solid transparent;
        float: left;
        margin-top: -18px;
        margin-left: calc(50% - #{$ta-s});
      }
    }

  }

  // Tooltip animation
  & img:hover ~ .t {
    opacity: 1;
    bottom: -10px;
    visibility: visible;
    z-index: $t-z;
  }
}
