$t-c: #000; // Tooltip color
$ta-s: 10px; // Arrow size
$t-t: .3s; // Transition duration
$t-z: 100; // Z-index value

// Tooltip container
.t-c {
  position: relative;


  // Tooltip layer
  .t {

    // Center
    left: 0;
    right: 0;

    position: absolute;

    // Animation
    opacity: 0;
    transition: $t-t all;
    top:50px; // Distance animation

    z-index: 0;

    // Tooltip content
    span {

      background: $t-c;
      display: inline-block;
      border-radius: 20px;
      padding: .5rem .8rem;
      text-align: center;

      // Tooltip arrow by https://codepen.io/cristina-silva/
      &::before {
        content: "";
        border-bottom: $ta-s solid $t-c;
        border-left: $ta-s solid transparent;
        border-right: $ta-s solid transparent;
        float: left;
        margin-top: -18px;
        margin-left: calc(50% - #{$ta-s});
      }
    }

  }

  // Tooltip animation
  & img:hover ~ .t {
    opacity: 1;
    top: 30px;
    z-index: $t-z;
  }
}
